<pre>{{ departamento }}</pre>
<h1>Contacto Reactivo  {{name}}</h1>
<form [formGroup] = "contactForm" (ngSubmit)="presiono()" >
    <div class="mb-4">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" required formControlName = "name">
        <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required']" class="alert alert-danger">El campo es requerido</div>
        <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['minlength']"
            class="alert alert-danger">Tiene que tener más de {{ contactForm.get('name')?.errors?.['minlength'].requiredLength }} caracteres</div>
        <!--<div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">El campo es requerido</div>-->
    </div>
    <div class="mb-4" form-ckeck>
        <label for="mayorEdad" class="form-label">¿Eres mayor de 18 años?</label>
        <input type="checkbox" name="mayorEdad" class="form-ckeck-input" id="mayorEdad" required formControlName = "mayorEdad">
        <div *ngIf="contactForm.get('mayorEdad')?.touched && contactForm.get('mayorEdad')?.errors?.['required']"
            class="alert alert-danger">El campo es requerido</div>
        <!--<div [hidden]="mayor.valid || mayor.pristine" class="alert alert-danger">El campo es requerido</div>-->
    </div>
    <div class="mb-4">
        <label for="departamento" class="form-label">Departamento</label>
        <select name="departamento" id="departamento" class="form-select-form-select-sm"formControlName = "departamento">
            <option selected>Abra este menú</option>
            <option *ngFor="let departa of departamento" [value]="departa">{{departa}}</option>
            <!--<option value="ventas">Ventas</option>
            <option value="otros">Otros</option>-->
        </select>

    </div>
    <div class="mb-4">
        <label for="comentario" class="form-label">Comentario</label>
        <textarea class="form-control" name="commentario" id="commentario" rows="4" placeholder="Deje un comentario...." required formControlName = "comentario"></textarea>
        <div *ngIf="contactForm.get('comentario')?.touched && contactForm.get('comentario')?.errors?.['required']"
            class="alert alert-danger">El campo es requerido</div>
       <!-- <div [hidden]="campo.valid || campo.pristine" class="alert alert-danger">El campo es requerido</div>-->
    </div>
    <div class="d-grid gap-2 col-4 float-end">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="contactForm.invalid">Enviar</button>
    </div>
</form>

