<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Navegador</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" (click)="irAReactivo()">Reactivo</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/contacto-reactivo">Reactivo</a>
                </li>-->
                <!--<li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/contacto-template">Template Driven</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" (click)="irADriven()">Template Driven</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/users">Usuarios</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
