
<p>{{ title }}</p>
<p>Resultado de (5 - 2) = {{ 5 - 2 }}</p>

<img src="{{ url }}" alt="dibujo Optimus Prime"><br>
<p *ngIf="name">Mi nombre es {{ name }}</p>
<input type ="text" [(ngModel)] = "name" placeholder="Ingrese un nombre">


<ul *ngFor="let ciudad of ciudades">
    <li [ngClass]="'seleccionado azul'">{{ciudad}}</li>
</ul>


<ul *ngFor="let ciudad of ciudades">
    <li [ngClass]="{'seleccionado': ciudad === 'Misiones', 'azul':ciudad != 'Misiones' }">{{ciudad}}</li>
</ul>

<ul *ngFor="let ciudad of ciudades">
    <li [ngStyle]="{'color': 'red', 'background-color': ciudad === 'Chaco'? 'noseleccionado' : 'green' }">{{ciudad}}</li>
</ul>


<ul *ngFor="let ciudad of ciudades">
    <li (click)="ciudadClick(ciudad)" [ngClass]="{'seleccionado': ciudad === seleccion, 'noseleccionado': ciudad === noseleccion }">{{ciudad}}</li>
</ul>

<div *ngIf = 'seleccion'>
  <p >La ciudad seleccionada es: {{ seleccion }}</p>
  <app-button (click)="borraSeleccion()" [color] ="'blue'" [label]="'Borrar Selección'"></app-button>
  
</div>
