<div class="container">
    <div class="row">
        <div class="col-md-12 my-3">
            <app-form-new-item (nuevoItemEvento)="agregaCiudad($event)" [etiqueta] = "'Ciudad'" [nombreClase] = "'btn-dark'"></app-form-new-item>
        </div>
        <hr>
        <div class="col-md-8">
            <ul  *ngFor="let ciudad of ciudades">
                <app-ciudad (ciudadClikEvento)="ciudadClick($event)" [ciudad]="ciudad" [seleccion]="seleccion" [noseleccion]     ="noseleccion">
                </app-ciudad>
            </ul>
        </div>
        <div class ="col-md-4">
            <div *ngIf='seleccion'>
                <p>La ciudad seleccionada es: {{ seleccion }}</p>
                <app-button class="button" (click)="borraSeleccion()" [color]="'blue'" [label]="'Borrar Selección'"></app-button>
            </div>
        </div>          
    </div>
</div>